@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>@Strings.Label_Certificate:</h4>
<br />
<form action="@Url.Action("CompleteWithCertificate","Signature")" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="certfileInput" class="form-label">@Strings.Label_Certificate <small>(*.p12, *.pfx)</small></label>
        <input type="file" class="form-control" id="certfileInput" name="certfile" placeholder="certificate ..." required>
    </div>
    <div class="mb-3">
        <label for="certPasswordInput" class="form-label">@Strings.Label_Password <small>(@Strings.Label_ForCertificate)</small></label>
        <input type="password" class="form-control" id="certPasswordInput" name="password" placeholder="password ..." required>
    </div>
    <br />

    <div>
        <button type="submit" class="btn btn-primary w-100">@Strings.Label_SignWithCert</button>
    </div>
</form>