@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>@Strings.Label_ConfirmEmailAddress:</h4>
<br />
<div class="alert alert-info">
    @Strings.Info_ConfirmationEMail
    (TEST-CODE: 1234567890)
</div>
<br />
<div class="mb-3">
    <label for="confirmationcode" class="form-label">@Strings.Label_ConfirmationCode</label>
    <input type="text" class="form-control" id="confirmationcode" name="confirmationcode" placeholder="code ..." required>
</div>
<br />

<div>
    <button type="button" class="btn btn-primary w-100" onclick="confirmationCodeSubmit('@Url.Action("ConfirmCode","Signature")')">@Strings.Label_Next</button>
</div>