@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>@Strings.Label_IdentityValidationMethod:</h4>
<br />
<div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="methodRadio" id="methodRadioEmail" checked>
        <label class="form-check-label" for="methodRadioEmail">
            <i class="bi bi-envelope"></i> @Strings.Label_EMail
        </label>
    </div>
    <div class="fst-italic small">
        @Strings.Info_Method_EMail
    </div>
</div>
<br />
<div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="methodRadio" id="methodRadioLogin">
        <label class="form-check-label" for="methodRadioLogin">
            <i class="bi bi-person"></i> @Strings.Label_Login
        </label>
    </div>
    <div class="fst-italic small">
        @Strings.Info_Method_Login
    </div>
</div>
<br />
<div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="methodRadio" id="methodRadioCertificate">
        <label class="form-check-label" for="methodRadioCertificate">
            <i class="bi bi-person"></i> @Strings.Label_Certificate
        </label>
    </div>
    <div class="fst-italic small">
        @Strings.Info_Method_Certificate
    </div>
</div>
<br />
<div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="methodRadio" id="methodRadioWallet">
        <label class="form-check-label" for="methodRadioWallet">
            <i class="bi bi-person"></i> @Strings.Label_CertificateWallet
        </label>
    </div>
    <div class="fst-italic small">
        @Strings.Info_Method_CertWallet
    </div>
</div>
<br />
<div style="display:none"> <!-- hidden ! -->
    <div class="form-check">
        <input class="form-check-input" type="radio" name="methodRadio" id="methodRadioSMS">
        <label class="form-check-label" for="methodRadioSMS">
            <i class="bi bi-phone"></i> SMS
        </label>
    </div>
    <div class="fst-italic small">
        If you choose the authentication method via SMS, you will receive an SMS with a confirmation code, 
        that you will have to enter in the next step.
    </div>
</div>
<br />
<div>
    <button type="button" class="btn btn-primary w-100" onclick="methodFormSubmit()">@Strings.Label_Next</button>
</div>