@using ElectronicSignatureService.Entities

@model List<Document>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h2 class="text-center"><i class="bi bi-file-earmark"></i> @Strings.Label_Documents</h2>

        <br />
        <h4>@Strings.Label_Latest</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Strings.Label_ID</th>
                    <th>@Strings.Label_Name</th>
                    <th>@Strings.Label_Filename</th>
                    <th>@Strings.Label_Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Document document in Model)
                {
                    <tr onclick="document.location.href='@Html.Raw(Url.Action("Details","Document", new { id = document.ID }))'" style="cursor:pointer">
                        <td>@document.ID</td>
                        <td>@document.Name</td>
                        <td>@document.Filename</td>
                        <td>@document.TimeStamp.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

        <p>
            <a class="btn btn-lg btn-outline-primary w-100" href="@Url.Action("List","Document")">@Strings.Label_AllMyDocuments</a>
        </p>
        <p>
            <a class="btn btn-lg btn-primary w-100" href="@Url.Action("Create","Document")">+ @Strings.Label_NewDocument</a>
        </p>
    </div>
</div>