@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="text-center">
            <div><img src="~/img/lions_q.svg" width="256" /></div>
            <h2 style="color:#ed7203"><b><i class="bi bi-qr-code-scan"></i> @AppInit.ProductName</b> - @Strings.Label_ElectronicSignatures</h2>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h4><i class="bi bi-database"></i> @Strings.Home_BlockchainTechnology</h4>
                <p>
                    @Strings.Home_BlockchainTechnology_Text
                </p>
                <p>
                    <a href="#" class="btn btn-sm btn-outline-primary">@Strings.Label_ReadMore</a>
                </p>
            </div>
            <div class="col-lg-6 mb-5">
                <h4><i class="bi bi-shield"></i> @Strings.Home_DataPrivacy</h4>
                <p>
                    @Strings.Home_DataPrivacy_Text
                </p>
                <p>
                    <a href="#" class="btn btn-sm btn-outline-primary">@Strings.Label_ReadMore</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h4><i class="bi bi-qr-code"></i> @Strings.Home_QRbased</h4>
                <p>
                    @Strings.Home_QRbased_Text
                </p>
                <p>
                    <a href="#" class="btn btn-sm btn-outline-primary">@Strings.Label_ReadMore</a>
                </p>
            </div>
            <div class="col-lg-6 mb-5">
                <h4><i class="bi bi-person-badge"></i> @Strings.Home_SSI</h4>
                <p>
                    @Strings.Home_SSI_Text
                </p>
                <p>
                    <a href="#" class="btn btn-sm btn-outline-primary">@Strings.Label_ReadMore</a>
                </p>
            </div>
        </div>

        @if (Context.IsLoggedIn())
        {
            <div class="text-center">
                <a class="btn btn-lg btn-primary w-100" href="@Url.Action("Index","Document")">@Strings.Label_MyDocuments...</a>
            </div>
        }
        else
        {
            <div class="text-center">
                <a class="btn btn-lg btn-primary w-100" href="@Url.Action("Register","Account")">@Strings.Label_GetStarted</a>
            </div>
        }
    </div>
</div>

